// Alterações Planetun

body {
  //font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12px;
  background-color: #333333;
}

.container-fluid {
  background: url(../images/bg.png);

}

.content {
  padding: 15px 100px 15px 100px;
  border: 1px solid #CCC;
  background-color: #FFF;
  position: relative;
  margin-top: -1px;
}

//Fieldset

fieldset {
  // border: 1px groove #ddd !important;
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  // -webkit-box-shadow:  0px 0px 0px 0px #000;
  //         box-shadow:  0px 0px 0px 0px #000;

  border: 1px solid #cecece;
  // margin-bottom: 10px;
  padding-top: 15px !important;
  padding-bottom: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 12px;
  color: #666 !important;          
}

legend {
  margin-bottom: 10px;
  font-size: 14px;
  color: $secundary-color;
  font-weight: bold;
  text-align: left;
  font-weight: bold;
  text-align: left;
  width:auto;
  padding:0 10px;
  border-bottom:none;
}

//Navibar

.navbar {
  min-height: 60px;
  margin-bottom: 4px;
  border-radius: 0;
}

.navbar-default {
  background-color: #FFF;
  border-bottom: 2px solid $secundary-color;
  box-shadow: 0 6px 0 $primary-color;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: #FFF;
  background-color: $primary-color;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
  color: #FFF;
  background-color: $primary-color;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
  text-decoration: none;
  color: #FFF;
  background-color: $primary-color;
}

.navbar-brand {
  padding: 2px 30px 2px 30px;
}

@media (min-width: 768px){
  .navbar-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.center{
  margin: 0 auto;
  text-align: center;
}


//Alerts

.alert{
  font-size: 13px;
  padding: 5px;
}
.alert-warning {
  @include alert-variant($alert-warning-background-color, $alert-warning-border-color, $alert-warning-text-color);
}

// Icons
.planetun-icon {
  &:before {
    content: "";
    display: block;
    width: 24px;
    height: 20px;
    float: left;
    margin: 0 6px 0 0;
  }
}

.planetun-erro{
  &:before {
    background: transparent url(../images/icon_dinamic.png) no-repeat 0 -1px;
  } 
}

.planetun-sucesso{
  &:before {
    background: transparent url(../images/icon_dinamic.png) no-repeat 0 -22px;
  } 
}

.planetun-neutro{
  &:before {
    background: transparent url(../images/icon_dinamic.png) no-repeat 0 -44px;
  } 
}

.planetun-info{
  &:before {
    background: transparent url(../images/icon_dinamic.png) no-repeat 0 -66px;
  } 
}


//footer
footer{
  display: table;
  width: 100%;
  background-color: #333333;
  color: #fff;
  margin-top: -20px;
  padding: 30px 10px 10px 10px;

  .logo {
    background: url(../images/lg-rodape.png) no-repeat;
    display: inline-block;
    width: 139px;
    height: 49px;
  }

  .copyright{
    font-size: 14px;
  }
}


.breadcrumb {
  padding: $breadcrumb-padding-vertical $breadcrumb-padding-horizontal;
  margin-bottom: $line-height-computed;
  list-style: none;
  background-color: inherit;
  border-radius: 0;
  font-style: $breadcrumb-font-style;
  font-size: $breadcrumb-font-size;

  > li {
    display: inline-block;
    color: $breadcrumb-color;

    + li:before {
      content: "#{$breadcrumb-separator}\00a0"; // Unicode space added since inline-block means non-collapsing white-space
      padding: 0 5px;
      color: $breadcrumb-color;
      font-size: $breadcrumb-active-font-size;
    }

    &:first-of-type {
      color: $breadcrumb-first-color;
    }
  }

  > .active {
    color: $breadcrumb-active-color;
    font-size: $breadcrumb-active-font-size;
  }
}
















h1, .h1 {
	font-size: 24px;
}
h2, .h2{
		font-size: 18px;
}
	
.dataTables_processing{
	display: none !important;
}

//
.table {
  // Cells
  > thead,
  > tfoot {
      background-color: $brand-primary;
      color: $btn-default-bg;
      font-size: $font-size-small;
      tr{
        td, th{
          text-transform: uppercase !important;
          text-align: left !important;
        	font-size: 10px;
          padding: 4px 20px 4px 4px;
        }
      }
  }
  > tbody
      tr{
        td{
          padding: 4px;
	        font-size: 12px;  
        }
      }
}

.nowrap{
  white-space: nowrap;
}


.notify{
    display: none;
}

//datatables tolls - buttons position
div.DTTT { margin-bottom: 0.5em; float: right; }
div.dataTables_wrapper { clear: both; }