//GRID


$brand-secundary:         #666666 !default;

//Planetun colors
$basic-color: #878787;
$primary-color: #00536E;
$primary-color-selected: #01799D;
$secundary-color: orange;
$white: #fff;

//Alertas
$alert-warning-background-color: #F5EEE5;
$alert-warning-border-color: #fedeae;
$alert-warning-text-color: #c37d02 ;


$alert-padding: 10px;


//breadcrumb
$breadcrumb-color: $basic-color;
$breadcrumb-first-color: $secundary-color;
$breadcrumb-font-size: 13px;
$breadcrumb-font-style: italic;
$breadcrumb-active-color: $primary-color;
$breadcrumb-active-font-size: 16px;

//links
$link-hover-color: $secundary-color;
$link-color: $basic-color;

//Listas

$dl-horizontal-offset: 123px;